AZURE_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZURE_LOCATION=spaincentral
AZURE_RESOURCE_GROUP=fitconnect-rg
AZURE_VM_NAME=fitconnect-vm
AZURE_PUBLIC_IP_NAME=fitconnect-pip
AZURE_VM_SIZE=Standard_B2as_v2
AZURE_ADMIN_USERNAME=moetaz
AZURE_SSH_PUBLIC_KEY_PATH=~/.ssh/id_rsa.pub
